<head>
        <title>Rental Property Cash Flow Analysis</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	  <a class="navbar-brand" href="#">Rental Property Cash Flow Analysis</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/app">Login</a>
	      </li>
  	      <li class="nav-item">
	        <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1S-Vqsw_JyrCo6_zziWM_llZNl8AU92MeLZx9Xp5lMyw/copy">Spreadsheet</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>

	<div class="container" style="padding:100px">
		<div class="row justify-content-md-center">
			<div class="col col-8" style="center overflow:hidden">
			<section>
				<article class="markdown-body entry-content" itemprop="text"><h1><a id="user-content-paragon-real-estate-multiple-listing-service-api-interface" class="anchor" aria-hidden="true" href="#paragon-real-estate-multiple-listing-service-api-interface"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Paragon Real Estate Multiple Listing Service API Interface</h1>
				<h3><a id="user-content-for-automated-four-square-analysis-of-rental-properties" class="anchor" aria-hidden="true" href="#for-automated-four-square-analysis-of-rental-properties"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>For Automated Four-Square Analysis of Rental Properties</h3>
				<p>This program takes in an ID from a Paragonrels.com or fnimls.com URL and automatically populates your own copy of this
				<a href="https://docs.google.com/spreadsheets/d/1S-Vqsw_JyrCo6_zziWM_llZNl8AU92MeLZx9Xp5lMyw/copy" rel="nofollow"><b>Google Spreadsheet</b></a>
				in order to calculate Cash Flow and Cash-on-Cash Return for investment properties. No coding experience necessary.</p>
				<p>Row 2 of the spreadsheet has formulas that automatically populate with calculations for each new row.
				I recommend leaving these formulas in place.</p>
				<p>This spreadsheet was derived from the PDF available at
				<a href="https://www.biggerpockets.com/renewsblog/easily-analyzing-rental-properties-four-square-method/" rel="nofollow">BiggerPockets.com</a></p>
				<p>You can try out a live demo of the program at <a href="https://rentals.earlyrewirement.com/app" rel="nofollow">
				<b></b></a><b><a href="https://rentals.earlyrewirement.com/app" rel="nofollow">https://rentals.earlyrewirement.com/app</a></b>. Go to the Google Sheet and click File &gt; Make a Copy if it doesn't ask you to copy automatically.
				Make your own copy of the Google spreadsheet linked above and copy your own Google Sheet's ID
				(derived from the URL <a href="https://docs.google.com/spreadsheets/d/%7BSPREADSHEET_ID%7D" rel="nofollow">https://docs.google.com/spreadsheets/d/{SPREADSHEET_ID}</a>) to the Google Sheet ID box on the form. The only required fields are the Google Sheet ID in the field at the bottom, and the MLS number(s) pasted in the big text box.</p>
				<p>I've tested this with globalmls, imls, hudson, gamls, and triangle regions/system IDs I found on Twitter.
				Other *.paragonrels.com regions may or may not work out of the box. Change the System ID accordingly.</p>
				<p>You should have an agent send you a listing from your region's MLS in order to get the GUID ("MLS ID") from the URL,
				which is used to pull the listings in that ID, but this is not necessary.</p>
				<p>Alternatively, if you know your local MLS System ID, you can pass that in along with a text file
				containing a list of MLS numbers you're interested in analyzing.
				The System ID is usually the subdomain of *.paragonrels.com or *.fnimls.com but this may be different for your region.
				Given only the System ID and the MLS number, the Paragon API can return the listing's information.</p>
				<p>However, each MLS system is slightly different in the formatting of their listings
				(and sometimes, listings within the same MLS system are different from each other)
				and thus, the json result from the get_properties() function is formatted differently and parses slightly differently.
				If you encounter errors in parsing the json even though the json files are properly created in the "listings" folder,
				you may need to adjust the parse_json() code inside the nested try-except blocks to fit your listings'
				general format so it can be parsed properly.</p>
				Check out and modify the source code on <a href="https://github.com/earlvanze/Paragon-MLS-API-Interface">GitHub</a>!
				<h2><a id="user-content-donate" class="anchor" aria-hidden="true" href="#donate"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Donate</h2>
				<p>If you like this program, please donate using any of the methods below!</p>
				<p>Square Cash	<a href="http://cash.me/$digitalkid" rel="nofollow">http://cash.me/$digitalkid</a></p>
				<p>Venmo	<a href="https://venmo.com/earlco" rel="nofollow">https://venmo.com/earlco</a></p>
				<p>PayPal	<a href="http://paypal.me/earlco" rel="nofollow">http://paypal.me/earlco</a></p>
				<p>BTC	12icq2NfvXDYExaH3a4FVnWJwerb1oj31Z</p>
				<p>ETH	0x234AD7D3225dC28f2B292cCBE05CdD321C4aCC5B</p>
				<p>LTC	LQymEUqGK9dBeugi2bNNtt4LEGpm6bMYjJ</p>
				<p>NEO/GAS	ALfeqEsmEexzk5RFGUZinedMAtjnfUz4f7</p>
				<p>If you want me to build a version for YOUR region, please reach out by email: <a href="mailto:earl@earlyrewirement.com">earl@earlyrewirement.com</a></p>
				</article>
			</section>
			</div>
		</div>
	</div>
</body>
<footer class="page-footer font-small footer-dark bg-dark text-light">
	<div class="footer-copyright text-center py-3" style="padding-top: 60px">© 2018 
		<a href="https://earlyrewirement.com">Early Rewirement</a> | <a href="https://earlyrewirement.com/contact.html">Contact Us</a> | <a href="https://home.earlyrewirement.com/privacy-policy/">Privacy Policy</a>
	</div>
</footer>
